[radio]
url = http://mr-stream.mediaconnect.hu/4738/mr2.mp3
timeout = 0.05

[email]
subject = MRK
from = mrk@example.hu
replyto = me@example.hu
to = you@example.com
cc = 
bcc = me@example.com

[search_engine]
youtube = https://www.youtube.com/results?search_query=
