body {
    margin: 20px;
    padding: 20px;
    background-color: #F2F3F4;
    font-family: arial, verdana;
}

#content {
    width: 600px;
    height: auto;
    margin: auto;
    padding: 10px;
    background-color: #A4C639;
    border: solid 2px #8DB600;
    border-radius: 10px;
}

#content p {
    padding: 10px;
    margin: 0px;
}

#music_title {
    text-align: center;
    font-weight: bold;
    font-family: Constantia,Palatino,'Times New Roman',serif;
}

#youtube_logo {
    width: 64px;
    position: relative;
    top: 7px;
}

.button {
    width: 32px;
    display: inline;
    float: right;
    background-color: #A4C600;
    border: solid 2px #8DB600;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    position: relative;
    left: 0px;
    top: -50px;
}


