{% extends "base.html" %}
{% block title %}MRK - Akarom a címet{% endblock %}
{% block content %}
    <p>Jelenleg az MR2-n ez a szám megy:</p>
    <p id="music_title">{{ title }}</p>
    <p id="music_refresher">
        <a href="./akaromacimet">Frissítsd!</a>
    </p>
    
    <p>Ha gondolod egyből rákereshetsz YouTube-on <a href="{{ link }}" target="_blank">itt</a>.</p>
    
    <form id="kuldo_form" method="post">
        <input type="hidden" name="title" value="{{ title }}" />
        <table>
            <tr>
                <td><input type="submit" value="Küld el nekem e-mailben!" /></td>
                <td>{% if mail != None %}{{ mail }}{% endif %}</td>
            </tr>
        </table>
    </form>
{% endblock %}